.landingText {
	position: absolute;
	top: -45%;
	left: 50%;
	font-size: 50px;

	margin: 0 -105px 0 -105px;
	z-index: 99;
	opacity: 0;
	letter-spacing: 2px;
	animation: showText 200ms forwards;
	span {
		opacity: 0;
		animation: showText 500ms forwards;
	}
}

@keyframes showText {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
