@mixin animateBrackets($distance, $name) {
	display: inline-block;
	// color: #a435f0;
	animation: #{$name} 0.75s ease-in 0.5s forwards;

	@keyframes #{$name} {
		0% {
			transform: translate(0px, 0px);
		}
		50% {
			transform: translate($distance, 0);
		}
		100% {
			transform: translate($distance, $distance);
		}
	}
}

.landing {
	background-image: linear-gradient(#fff, #d9d9d9);
	height: 100vh;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		opacity: 0;
		animation: landingImgOpacity 2s forwards;
	}
	&__content {
		font-family: $--ff-light;
		&--open {
			@include animateBrackets(-120px, "open");
		}
		&--close {
			@include animateBrackets(120px, "close");
		}
	}
}

@keyframes landingImgOpacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
