// //dddace

// //52514d

@mixin linkStyle($display) {
	display: $display;
	width: 100%;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-size: 15px;

	&.active {
		padding-bottom: 3px;
		border-bottom: 2px solid #fff;
	}
}

.nav {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100%;

	&--wide {
		@extend .nav;
		flex-direction: row;
	}

	&__menu {
		position: relative;
		// top: 0px;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		// margin: -10vw 0 0 -15vw;
		transition: top 0.3s ease-out;
		z-index: 5;

		&--wide {
			flex-direction: row;
			justify-content: space-around;
			margin-top: 5vw;
			z-index: 5;
		}
	}

	&__link {
		margin: 5px 0;
		transition: opacity 0.3s ease-out;
		a {
			@include linkStyle("block");
		}

		&--wide {
			display: inline-block;
			margin: 3px 10px;
			a {
				@include linkStyle("inline");
			}
		}
	}
}
