@font-face {
	font-family: avenirRegular;
	src: url("../../fonts/Avenir\ Regular.ttf");
}

@font-face {
	font-family: avenirHeavy;
	src: url("../../fonts/Avenir\ Heavy.ttf");
}

$--ff-regular: avenirRegular;
$--ff-heavy: avenirHeavy;
$--fc-regular: #000;
